<div class="bg-dark pt-5">
<ul class=" d-flex  justify-content-around text-white list-unstyled">
  <li class=""><a routerLink="/" class="text-decoration-none text-white pe-3">Todo List</a></li>
  <li><a routerLink="/completed" class="text-decoration-none text-white pe-3">Completed</a></li>
  <li><a routerLink="/tocomplete" class="text-decoration-none text-white pe-3">To complete</a></li>
  <li><a routerLink="/users" class="text-decoration-none text-white pe-3">Users</a></li>
</ul>
<hr class="text-white col-10 m-auto pb-3">
<p class="text-center text-white pb-3 m-0"> Nicola Schirripa</p>
</div>
