<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-body-emphasis fw-bold" aria-current="page" routerLink="/" routerLinkActive="active">Todo List</a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link text-body-emphasis fw-bold" routerLink="/completed" routerLinkActive="active">Completed</a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link text-body-emphasis fw-bold" routerLink="/tocomplete" routerLinkActive="active">To complete</a>
        </li>
        <li class="nav-item ps-3 text-body-emphasis ">
          <a class="nav-link text-body-emphasis fw-bold" routerLink="/users" routerLinkActive="active">Users</a>
        </li>
      </ul>
      <form class="d-flex pe-5" role="search" (ngSubmit)="onSearch(searchTerm.value)">
        <input class="form-control me-4" type="search" placeholder="Cerca" aria-label="Search" #searchTerm>
        <div class="btn btn-success btn-outline-dark" (click)="onSearch(searchTerm.value)">Cerca</div>
      </form>
    </div>
  </div>
</nav>
